<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AccountsController</servlet-name>
        <servlet-class>controller.AccountsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientRequestController</servlet-name>
        <servlet-class>controller.ClientRequestController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountsController</servlet-name>
        <url-pattern>/AccountsController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ClientController</servlet-name>
        <servlet-class>controller.ClientController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientController</servlet-name>
        <url-pattern>/ClientController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CaseWorkerController</servlet-name>
        <servlet-class>controller.CaseWorkerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CaseWorkerController</servlet-name>
        <url-pattern>/CaseWorkerController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AssistanceController</servlet-name>
        <servlet-class>controller.AssistanceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AssistanceController</servlet-name>
        <url-pattern>/AssistanceController</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>AccountsController</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>ClientRequestController</servlet-name>
        <url-pattern>/ClientRequestController</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
