/* Sayel Rammaha    
   1/12/18
*/

#mainCreate, #mainClient, #mainCaseWorker, #clientLogin, #caseWorkerLogin  {
    position: absolute;  
    padding: 10px;
    top: 75px;
    bottom: 70px;
    left: 300px;    
    right: 15px;
    min-width: 700px;
    min-height: 590px;    
    color: #3a3a3a;
    background-color: white;
    white-space: normal;
    overflow: hidden;
}

#clientLogin, #caseWorkerLogin, #frontImages {
    top: 300px;
    left: 150px;
    right: 150px;
    width: auto;
    min-width: 750px;
    padding: 0px 0px;
    height: 260px;
    min-height: 0px;
    background-color: #a39d79;
}

#loginSelect {
    position: absolute;  
    top: 245px;
    left: 150px;
    right: 150px;    
    margin: 0 auto;
    height: 40px;
    width: 750px;
    text-align: center;    
}

#loginSelect ul {
    padding: 0px;
    margin: 0px;
}
#loginSelect li {
    padding: 10px;
    list-style: none;
    display: inline-block;
    width: 150px;
    background-color: white;   
    margin: 0px;
}

#loginSelect a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.05em;
    font-family: tahoma;
    padding: 0px;
}

#loginSelect a:hover, #loginSelect li:hover {
    background-color: lightgrey;
    cursor: pointer;
}

#loginSelect a:visited {
    color: black;
}

aside, #welcome {    
    width: auto;
    right: 150px;
    left: 150px;
}

#hiddenDiv {
    display: none;
}

.button {
    position: relative;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    font-size: 1em;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    width: 200px;
}

/* login forms */
.loginDiv {
    margin: auto;
    width: 750px;   
    padding: 0px;
    height: 260px;
    text-align: center;
    background-color: white;
}
#loginFormCW, #testLoginFormCW, #loginFormCL, #testLoginFormCL {
    width: 700px;
    padding: 10px 22.5px 0px 22.5px;    
}
#loginFormCW legend, #loginFormCL legend {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: .5em;
}
#loginFormCW input[type=text], #loginFormCW input[type=password],
#loginFormCL input[type=text], #loginFormCL input[type=password] {
    width: 14em;
    margin-left: -200px;
    margin-right: 1em;
    margin-bottom: 1em;  
}
#loginFormCW fieldset, #loginFormCL fieldset {    
    margin-bottom: 1em;
    padding-top: .5em;
    border-color: #f0e68c;    
}
#loginFormCW label, #loginFormCL label {
    float: left;
    text-align: right;
    width: 7em; 
    margin-left: 100px;
}
#loginFormCW label.error, #loginFormCL label.error {
    float: right;
    color: red;
    position: absolute;    
    text-align: left;
    width: auto;
    margin-left: 0;
}
.loginMsg {
    text-align: center;
    color: red;
    font-size: 1.5em;
    width: auto;
}




