/* Sayel Rammaha    
   1/12/18
*/

#main2 {
    position: absolute;  
    padding: 10px;
    top: 75px;
    bottom: 65px;
    left: 300px;    
    right: 15px;
    
    color: #3a3a3a;
    background-color: white;
    overflow: hidden;
}
