
/* 
    Created on : Jan 17, 2018, 11:22:35 PM
    Author     : Murad
*/


/*
    #60401f --> dark brown
    #c1803e --> lighter brown
    #806000 --> olive
*/
/* type selectors */
article, aside, figure, figcaption, footer, header, nav, section, main {
    display: block;
}
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: 1.1em;
	/* width: 650px;*/
	margin: 0 auto;
	/*border: 3px solid blue;*/
	background-color: #806000;
}
 /* 
 main {
	padding: 15px 25px;
}

*/
h1 { 
	font-size: 150%;
}
h2 {
	font-size: 120%;
	padding: .25em 0 .25em 25px;
	cursor: pointer;
	background: url(Images/closeArrow.png) no-repeat left center;
	
}
h2.minus {
	background: url(/Images/openArrow.png) no-repeat left center;
}
div {
	display: none;
}
div.open {
	display: block;
}
ul {
	padding-left: 45px;
}
li {
	padding-bottom: .25em;
}
/*
p {
	padding-bottom: .25em;
	padding-left: 25px;
}
*/

#assistanceWrapper{
    width:  1500px;  /* = 1124px; 65%*/
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

#assistanceMain{
    width: 1200px; /* = 900px; 80%*/    
   /* height: 100%; float left ....*/
    background-color: white;
    margin: 0;
    float: left;
    clear: right;
}
#assistanceMain div{
    margin-left: 30px;
    /*  min-width:  980px; this is the size of the divs in the main*/
    width: auto;
    background-color: #ccccff;
}
#assistanceAside{
    width: 100px; /* =  200px; 22%*/
    background-color: yellow;
     
}

table{
    border-collapse: collapse;
}

td{
    text-align: center;
}
th{
    padding: 5px;
}

header img{
    /*display: block;
    width: 100%;
    background-color: red;*/
    float: right;
}
header{
    margin-bottom: 40px;
    
}
header h1{
    text-align: center;
    padding: 10px;
    background-color:#999900;
}

footer{
     background-color:#999900;
     margin-top: 40px;
}
footer li{
    display: inline;
}