
/* 
    Created on : Feb 11, 2018, 10:00:40 PM
    Author     : Murad
*/
body{
    /*font-size: 12px;*/
}
#main{
    min-width: 800px;
    overflow: auto;
    /*position: relative;*/
}

main, header, footer, h1, h2{
    display: block;
}

.eligibilitySection{
    float: left;
    clear: right;
    height: 100%;
    width: 50%;
    /* background-color: #a39d79;*/
    margin-right: 220px;

}
.alertsSection{



}
.eligibilitySection table{

}

#divider{
    position: absolute;
    margin-left: 380px;
    height: 100%;
    background-color: #ddd;
    width: 200px;
    top: 0;
    padding: 25px 0 0 5px;
}
span{
    font-weight: bold;
    display: block;

}