
/* 
    Created on : Feb 11, 2018, 10:00:40 PM
    Author     : Murad
*/
body{
    /*font-size: 12px;*/
}
#main{
    min-width: 1200px;
     max-width: 1200px;
     padding: 0 100px 0 20px;
    overflow: auto;
    /*position: relative;*/
}

main, header, footer, h1, h2{
    display: block;
}

.eligibilitySection{
    margin-top: 25px;
    float: left;
    clear: right;
    height: 100%;
    width: 60%;
    padding: 0;
    /* background-color: #a39d79;*/
    margin-right: 220px;

}
.eligibilitySection table td{
    text-align: left;
    padding: 5px;
    font-size: 1.2em;
}
.eligibilitySection table tr:hover{
    background-color: #f0e68c;
    font-size: 1.5em;
}
.eligibilitySection table th{
    font-size: 1.5em;
}
.eligibilitySection caption{
    margin-bottom: 20px;
}
.alertsSection{

}
.eligibilitySection table{
    width: 500px;
    
}



#divider{
    position: absolute;
    margin-left: 520px;
    height: 100%;
    background-color: #ddd;
    width: 400px;
    top: 0;
   text-align: center; 
   padding-top: 25px;
}
label{
     font-size: 1.1em;
    font-weight: bold;
    width: 50px;
    display: inline-block;
    text-align: right;
    margin: 10px 10px 0 0;

}
input[type=submit]{
    width: 150px;
    margin-top: 20px;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 40px;
}
.formatDateMessage{
    background-color: #f0e68c;
}

#caseWorkerInfo td:nth-child(1){
    font-weight: bolder;
}
#caseWorkerInfo tr:nth-child(1){
    font-size: 1.1em;
    
}

#caseWorkerInfo {
    font-size: 1.1em;
    
}

.warning{
   background: url(/Images/warning.PNG) no-repeat left center;
   height: 50px;
   padding-left: 60px;
   font-weight: bolder;
   font-size: 1.8em;
}

.perfectIcon{
     background: url(/Images/perfect2.PNG) no-repeat left center;
   height: 85px;
   padding-left: 90px;
   font-weight: bolder;
   font-size: 1.8em;
}
.warningText{
    font-size: 1.5em;
}

.nameOnhoursTable, legend{
    font-weight: bold;
    font-size: 1.5em;
}